<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mythtv.android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".library.core.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_mythtv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".player.recordings.ShowsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.default_searchable"
                android:value=".player.search.SearchableActivity" />

        </activity>

        <activity
            android:name=".player.recordings.RecordingsActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".player.recordings.ShowsActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".player.recordings.ShowsActivity" />

            <meta-data android:name="android.app.default_searchable"
                android:value=".player.search.SearchableActivity" />

        </activity>

        <activity
            android:name=".player.recordings.RecordingDetailsActivity"
            android:parentActivityName=".player.recordings.RecordingsActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".player.recordings.RecordingsActivity" />

            <meta-data android:name="android.app.default_searchable"
                android:value=".player.search.SearchableActivity" />

        </activity>

        <activity
            android:name=".player.videos.VideosActivity"
            android:label="@string/drawer_item_watch_videos"
            android:launchMode="singleTask">

            <meta-data android:name="android.app.default_searchable"
                android:value=".player.search.SearchableActivity" />

        </activity>

        <activity
            android:name=".player.videos.VideoDetailsActivity"
            android:parentActivityName=".player.videos.VideosActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".player.videos.VideosActivity" />

            <meta-data android:name="android.app.default_searchable"
                android:value=".player.search.SearchableActivity" />

        </activity>

        <activity
            android:name=".library.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".player.search.SearchableActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <activity
            android:name=".player.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- MythTV Receivers -->
        <receiver android:name=".library.core.RefreshLiveStreamsReceiver" />
        <receiver android:name=".library.core.RefreshTitleInfosReceiver" />
        <receiver android:name=".library.core.RefreshRecordedProgramsReceiver" />
        <receiver android:name=".library.core.NetworkConnectionBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- MythTV Providers -->
        <provider
            android:name=".library.persistence.repository.MythtvProvider"
            android:authorities="org.mythtv.android.provider"
            android:enabled="true"
            android:exported="true"
            android:syncable="false" />

        <provider
            android:name=".library.persistence.repository.MythtvSearchSuggestionProvider"
            android:authorities="org.mythtv.android.library.persistence.repository.MythtvSearchSuggestionProvider" />

    </application>

</manifest>
