<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mythtv.android.library" >

    <application>

        <!-- MythTV Providers -->
        <provider
            android:name=".persistence.repository.MythtvProvider"
            android:authorities="org.mythtv.android.provider"
            android:enabled="true"
            android:exported="true"
            android:syncable="false"/>

    </application>

</manifest>