<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ MythTV Player An application for Android users to play MythTV Recordings and Videos
  ~ Copyright (c) 2015. Daniel Frey
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest package="org.mythtv.android"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor"
        android:required="false" />

    <application
        android:name=".presentation.AndroidApplication"
        android:allowBackup="true"
        android:banner="@drawable/mythtv_logo"
        android:icon="@drawable/ic_mythtv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- App Activities -->
        <activity
            android:name=".presentation.view.activity.AppMainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppTitleInfoListActivity"
            android:label="@string/watch_recording"
            android:parentActivityName=".presentation.view.activity.AppMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppMainActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppProgramListActivity"
            android:label="@string/watch_recording">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppTitleInfoListActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity android:name=".presentation.view.activity.AppProgramDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppProgramListActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity android:name=".presentation.view.activity.AppProgramDetailsSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppProgramDetailsActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity android:name=".presentation.view.activity.AppSearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppVideoListActivity"
            android:label="@string/watch_video"
            android:parentActivityName=".presentation.view.activity.AppMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppMainActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppVideoSeriesListActivity"
            android:label="@string/watch_video">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity android:name=".presentation.view.activity.AppVideoDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppVideoListActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.VideoMetadataInfoListActivity"/>
        </activity>
        <activity android:name=".presentation.view.activity.AppVideoDetailsSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppVideoDetailsActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.view.activity.AppMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppMainActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.AppSearchableActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppRecordingSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.view.activity.AppSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppSettingsActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppVideoSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.view.activity.AppSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.view.activity.AppSettingsActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.AppPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".presentation.view.activity.AppCastPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>

        <!-- AndroidTv activities -->
        <activity
            android:name=".presentation.view.activity.TvMainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.activity.TvRecordingsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.view.activity.TvMainActivity"
            android:theme="@style/Theme.Leanback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mythtv.android.presentation.view.activity.TvMainActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.TvSearchableActivity" />
        </activity>
        <activity
            android:name=".presentation.view.activity.TvRecordingsDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.view.activity.TvMainActivity"
            android:theme="@style/Theme.Leanback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mythtv.android.presentation.view.activity.TvMainActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.TvSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">
        </activity>
        <activity
            android:name=".presentation.view.activity.TvRecordingSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">
        </activity>
        <activity
            android:name=".presentation.view.activity.TvVideosActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.view.activity.TvMainActivity"
            android:theme="@style/Theme.Leanback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mythtv.android.presentation.view.activity.TvMainActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.TvVideoCategoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.view.activity.TvVideosActivity"
            android:theme="@style/Theme.Leanback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mythtv.android.presentation.view.activity.TvVideosActivity"/>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".presentation.view.activity.TvSearchableActivity" />
        </activity>
        <activity
            android:name=".presentation.view.activity.TvVideoDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.view.activity.TvVideosActivity"
            android:theme="@style/Theme.Leanback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.mythtv.android.presentation.view.activity.TvVideosActivity"/>
        </activity>
        <activity
            android:name=".presentation.view.activity.TvVideoSettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback">
        </activity>

        <activity android:name=".presentation.view.activity.TvSearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".presentation.view.activity.TvPlaybackOverlayActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <provider
            android:name=".presentation.provider.MythtvSearchSuggestionProvider"
            android:authorities="org.mythtv.android.presentation.provider.MythtvSearchSuggestionProvider"
            android:exported="false"/>

    </application>

</manifest>
