.background {
    background: center no-repeat url(background.webp);
}

<!--.logo {-->
<!--background-image: url(logo.webp);-->
<!--}-->

.progressBar {
    background-color: rgb(3, 169, 244);
}

.splash {
    background-image: url(background.webp);
}

.watermark {
    background-image: url(watermark.webp);
    background-size: 72px 72px;
}
