<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ MythTV Player An application for Android users to play MythTV Recordings and Videos
  ~ Copyright (c) 2015. Daniel Frey
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest package="org.mythtv.android.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:banner="@drawable/mythtv_logo"
        android:icon="@drawable/ic_mythtv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- App Activities -->
        <activity
            android:name=".view.activity.MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.TitleInfoListActivity"
            android:label="@string/watch_recording"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.ProgramListActivity"
            android:label="@string/watch_recording"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.TitleInfoListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.TitleInfoListActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.ProgramDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.ProgramListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.ProgramListActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.ProgramDetailsSettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.ProgramDetailsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.ProgramDetailsActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.VideoListActivity"
            android:label="@string/watch_video"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.VideoSeriesListActivity"
            android:label="@string/watch_video"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.VideoListActivity">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.VideoDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.VideoSeriesListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.VideoSeriesListActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.VideoMetadataInfoListActivity" />

        </activity>

        <activity
            android:name=".view.activity.VideoDetailsSettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.VideoDetailsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.VideoDetailsActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activity.SearchableActivity" />

        </activity>

        <activity
            android:name=".view.activity.RecordingSettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.SettingsActivity" />

        </activity>

        <activity
            android:name=".view.activity.VideoSettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".view.activity.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.SettingsActivity" />

        </activity>

        <activity
            android:name=".view.activity.SearchableActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <activity
            android:name=".view.activity.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <provider
            android:name="org.mythtv.android.presentation.provider.MythtvSearchSuggestionProvider"
            android:authorities="org.mythtv.android.presentation.provider.MythtvSearchSuggestionProvider"
            android:exported="false" />

    </application>

</manifest>
